.board{
    display: none;
}

.popUpContainer{
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
}

.popUp{
    display: inline-block;
    margin: 25% auto;
    text-align: center;
    background: #666;
    border-radius: 20px;
    padding: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#popUpBox {
    display: block;
}

#noBoardBox, #popUpBox2{
    display: none;
}

#decisionBox{
    display: flex;
}

#newGameButton, #joinGameButton{
    margin: 10px;
}


#nameInputField, #nameInputField2{
    color: #fff;
    background: inherit;
    border: 0;
    border-bottom: 3px solid #444444;
    font-family: Tahoma, sans-serif;
    padding: 5px 0;
    font-size: 1.3rem;
    width: 70%;
    transition: border-bottom-color 0.5s;
    outline: 0;
    margin-bottom: 10px;
}

#nameInputField:-webkit-autofill, :-webkit-autofill:focus, #nameInputField2:-webkit-autofill, :-webkit-autofill:focus{
    transition: background-color 600000s 0s, color 600000s 0s;
}

#nameInputField::placeholder, #nameInputField2::placeholder{
    opacity: 0.5;
    color: #fff;
}

#nameInputField[data-autocompleted], #nameInputField2[data-autocompleted] {
    background-color: transparent !important;
}

#nameInputSubmit, #nameInputSubmit2{
    padding: 10px;
}

body{
    background: #242b4e;
    color: #666;
    font-family: Tahoma, sans-serif;
}

h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
}

#playerInfo{
    text-align: center;
}

h2{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.clearfix{
    clear: both;
}
#box{
    width: 350px;
    overflow: auto;
    margin: 20px auto;
    background: #666;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 20px;
}

#message{
    background: #333;
    color: #fff;
}

#gameBoard li{
    float: left;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-size: 50px;
    background: #333;
    color: #ccc;
    list-style: none;
    text-align: center;
    border-radius: 5px;
}

#gameBoard li:hover, #reset:hover, #nameInputSubmit:hover, #nameInputSubmit2:hover, #newGameButton:hover, #joinGameButton:hover{
    cursor: pointer;
    background: #000000;
}

#reset, #nameInputSubmit, #nameInputSubmit2, #joinGameButton, #newGameButton{
    border: 0;
    background: #444;
    color: #fff;
    width: 70%;
    padding: 15px;
    border-radius: 5px;
    font: inherit;
}

.o{
    color: green !important;
}

.x{
    color: red !important;
}

footer{
    display: block;
    text-align: center;
    padding-top: 20px;
}